<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <table border="1">
            <tr><td>Enter FirstName</td>
                <td><input type="text" name="fname"/></td></tr>
            <tr><td>Enter LastName</td>
                <td><input type="text" name="lname"/></td></tr>
        <tr><td><input type="submit" value="Submit"/></td>
        <td><input type="hidden" name="uname" value="{{uname}}"/>
        </td></tr>
        </table>
    </form>
    
</body>
</html>