<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            border:2px solid red;
            background-color:pink;
            
            padding:20px;
            margin-left:500px;
        }
   
    </style>
</head>

<body>
    <form method="post" action="/verify">
        <table>
         <tr><td>loginId</td>
            <td><input type="text" name="uname"></td></tr>  
            <tr><td>Password</td>
                <td><input type="text" name="password"></td></tr>  
               <tr><td></td>
            <td><input type="submit" value="login"  ></td></tr>  
        </table>
    </form>
    
</body>
</html>