<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome {{fname}} {{lname}}</h2>
    <form method="post">
        <table border="1">
            <tr><td>Please select your option </td></tr>
            <tr><td><input type="radio" name="choice" value="1"> Java <br/>
                <input type="radio" name="choice" value="2"> Python <br/>
                <input type="radio" name="choice" value="3"> Software Testing <br/></td></tr>
        <tr><td><input type="submit" value="Submit Vote"/></td></tr>
        </table>
    </form>
</body>
</html>